
@import "./partials//variables";
@import './partials/Header';
@import './partials//About';
@import './partials/Footer';

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: Rem(1280);
    width: 90%;
    margin: 0 auto;
}

.btn{
    font-size: Rem(13);
    font-weight: 700;
    font-family: $font-openSans;
    border-radius: Rem(48);
    border: none;
}

.p-font{
    font-family: $font-openSans;
    font-weight: 400;
    font-size: Rem(16);
    line-height: Rem(24);
}

.font-size{
    @media screen and (max-width: Rem(315)){
        font-size: 5vw;
    }
}

.justify-self-end{
    justify-self: end;
}
.justify-self-center{
    justify-self: center;
}
.justify-self-start{
    @media screen and(max-width: Rem(969)){
        justify-self: start;
    }
}

.justify-center{
    @media screen and(max-width: Rem(969)){
        justify-self: center;
    }
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.grid-area-text{
    @media screen and (max-width: Rem(630)){
        grid-area: text;
    }
    
}
.grid-area-image{
    @media screen and (max-width: Rem(630)){
        grid-area: image;
    }
}
.text-align{
    text-align: center;
}